body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

#app {
  width: 360px;
  margin-top: 40px;
  background: #020617;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}

h2, h3 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
}

input {
  background: #020617;
  color: white;
  border: 1px solid #334155;
}

button {
  background: #6366f1;
  color: white;
  cursor: pointer;
}

button.danger {
  background: #ef4444;
}

button.secondary {
  background: #334155;
}
